
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationLabel">Create or edit a Location</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.location.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.location.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.location.uuid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.location.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_abbreviation">Abbreviation</label>
            <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
                    ng-model="vm.location.abbreviation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brief">Brief</label>
            <input type="text" class="form-control" name="brief" id="field_brief"
                    ng-model="vm.location.brief"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_locationStatus">Location Status</label>
            <select class="form-control" name="locationStatus" ng-model="vm.location.locationStatus" id="field_locationStatus">
                <option value="DRAFT">DRAFT</option>
                <option value="PUBLISHED">PUBLISHED</option>
                <option value="DELETED">DELETED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_managedBy">Managed By</label>
            <input type="text" class="form-control" name="managedBy" id="field_managedBy"
                    ng-model="vm.location.managedBy"
                    />
        </div>

        <div class="form-group">
            <label for="field_label">Label</label>
            <select class="form-control" id="field_label" multiple name="label" ng-model="vm.location.labels" ng-options="label as label.id for label in vm.labels track by label.id"></select>
        </div>
        <div class="form-group">
            <label for="field_locationType">Location Type</label>
            <select class="form-control" id="field_locationType" name="locationType" ng-model="vm.location.locationType" ng-options="locationType as locationType.id for locationType in vm.locationtypes track by locationType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_coordinate">Coordinate</label>
            <select class="form-control" id="field_coordinate" name="coordinate" ng-model="vm.location.coordinate" ng-options="coordinate as coordinate.id for coordinate in vm.coordinates track by coordinate.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
