
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationFacilityLabel">Create or edit a Location Facility</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.locationFacility.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.locationFacility.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.locationFacility.uuid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descriprion">Descriprion</label>
            <input type="text" class="form-control" name="descriprion" id="field_descriprion"
                    ng-model="vm.locationFacility.descriprion"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setIcon($file, vm.locationFacility)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_icon">Icon</label>
            <div>
                <img data-ng-src="{{'data:' + vm.locationFacility.iconContentType + ';base64,' + vm.locationFacility.icon}}" style="max-height: 100px;" ng-if="vm.locationFacility.icon" alt="locationFacility image"/>
                <div ng-if="vm.locationFacility.icon" class="help-block clearfix">
                    <span class="pull-left">{{vm.locationFacility.iconContentType}}, {{vm.byteSize(vm.locationFacility.icon)}}</span>
                    <button type="button" ng-click="vm.locationFacility.icon=null;vm.locationFacility.iconContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setIcon($file, vm.locationFacility)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="icon" id="field_icon"
                    ng-model="vm.locationFacility.icon"
                    />
            <input type="hidden" class="form-control" name="iconContentType" id="field_iconContentType"
                    ng-model="vm.locationFacility.iconContentType" />
        </div>

        <div class="form-group">
            <label for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.locationFacility.location" ng-options="location as location.id for location in vm.locations track by location.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_facility">Facility</label>
            <select class="form-control" id="field_facility" name="facility" ng-model="vm.locationFacility.facility" ng-options="facility as facility.id for facility in vm.facilities track by facility.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
