
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAttractionLabel">Create or edit a Attraction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.attraction.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.attraction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.attraction.uuid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.attraction.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.attraction.description"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setIcon($file, vm.attraction)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_icon">Icon</label>
            <div>
                <img data-ng-src="{{'data:' + vm.attraction.iconContentType + ';base64,' + vm.attraction.icon}}" style="max-height: 100px;" ng-if="vm.attraction.icon" alt="attraction image"/>
                <div ng-if="vm.attraction.icon" class="help-block clearfix">
                    <span class="pull-left">{{vm.attraction.iconContentType}}, {{vm.byteSize(vm.attraction.icon)}}</span>
                    <button type="button" ng-click="vm.attraction.icon=null;vm.attraction.iconContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setIcon($file, vm.attraction)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="icon" id="field_icon"
                    ng-model="vm.attraction.icon"
                    />
            <input type="hidden" class="form-control" name="iconContentType" id="field_iconContentType"
                    ng-model="vm.attraction.iconContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
