<div>
    <h2>Location Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Location Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Uuid</span></th>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Icon</span></th>
                    <th><span>Label Group</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="locationType in vm.locationTypes track by locationType.id">
                    <td><a ui-sref="location-type-detail({id:locationType.id})">{{locationType.id}}</a></td>
                    <td>{{locationType.uuid}}</td>
                    <td>{{locationType.name}}</td>
                    <td>{{locationType.description}}</td>
                    <td>
                        <a ng-if="locationType.icon" ng-click="vm.openFile(locationType.iconContentType, locationType.icon)">
                            <img data-ng-src="{{'data:' + locationType.iconContentType + ';base64,' + locationType.icon}}" style="max-height: 30px;" alt="locationType image"/>
                        </a>
                        <span ng-if="locationType.icon">{{locationType.iconContentType}}, {{vm.byteSize(locationType.icon)}}</span>
                    </td>
                    <td>
                        <a ui-sref="label-group-detail({id:locationType.labelGroup.id})">{{locationType.labelGroup.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-type-detail({id:locationType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location-type.edit({id:locationType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location-type.delete({id:locationType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
